@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #111828;
  --secondary-color: #0891b3;
  --hover-color: #b7c4cf;
  --black-color: #030303;
  --white-color: #ffffff;
  --background-color: #324154;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  position: relative;
  /* overflow: none; */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
